* {
  margin: 0;
  padding: 0;
  outline: none;
  /* border: 1px solid red; */
}
body {
  color: #fff;
}
.mid-section {
  display: flex;
}

/*------------------------------------ header part ------------------------------------*/

header {
  padding: 10px 10px;
  background: #0f0f0f;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header img {
  cursor: pointer;
  height: 20px;
}
/*-------------------- logo container elements --------------------*/

.logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
}
.logo-container p {
  color: #fff;
  font-size: 19px;
  font-family: sans-serif;
  cursor: pointer;
}
.logo {
  display: flex;
  align-items: center;
}
.logo span {
  position: relative;
  color: #fff;
  font-size: 9px;
  bottom: 10px;
}
/*-------------------- search bar elements --------------------*/

.search-bar {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 40%;
  margin: 0px 10px;
}
.search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #3d3d3d;
  border-radius: 20px;
  padding: 5px;
  width: 100%;
}
.search-container img:nth-last-child(1) {
  padding: 0px 10px;
}
.search-bar input {
  background: transparent;
  padding: 10px;
  border: none;
  color: #fff;
  width: 90%;
}
.search-bar input::placeholder {
  color: #fff;
}
.search-img {
  display: none;
}

/*-------------------- profil elements --------------------*/

.profil {
  height: 30px;
  border-radius: 50%;
}
.profil-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

/*------------------------------------ main part ------------------------------------*/

main {
  background: #0f0f0f;
  width: 100%;
  padding: 10px 10px;
}
aside.active {
  width: 250px;
}

/*------------------------------------ main part ------------------------------------*/
/*-------------------- sidebar elements --------------------*/
/*---------------- top elements ----------------*/

aside img {
  width: 20px;
}
aside {
  background: #0f0f0f;
  width: 17%;
  height: 565px;
  transition: all 0.5s ease;
  overflow: scroll;
  overflow-x: hidden;
}
.top {
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.pair {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 12px;
  padding: 5px 10px;
}
.accueil,
.pair:hover {
  background: #3d3d3d;
  border-radius: 5px;
  cursor: pointer;
}
.top .pair:nth-child(1) p {
  margin-left: 15px;
}
.top .pair:nth-child(2) p {
  margin-left: 10px;
}
/*---------------- for you elements ----------------*/
.for-you {
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.for-you h2::after {
  content: url(icons/bxs-chevron-right.png);
}
.for-you h2 {
  padding: 10px 0px;
  height: 10px;
  font-size: 16px;
  display: flex;
  align-items: center;
}

/*---------------- abonnements elements ----------------*/

.abonnements {
  padding: 10px 10px;
}
.abonnements h2::before {
  content: url(icons/bxs-chevron-down.png);
}
.abonnements h2 {
  padding: 10px 0px;
  height: 20px;
  font-size: 16px;
  display: flex;
  align-items: center;
}

/*---------------- infos elements ----------------*/

.infos {
  font-size: 12px;
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
/*--------------------- animation toggle ---------------------*/
.sidebar.active {
  width: 60px;
  /* background: yellow; */
}
.sidebar.active .delete,
.sidebar.active .infos,
.sidebar.active h2 {
  display: none;
}
/* .sidebar.active main{
    width: 250%;
} */
/*--------------------- fin animation toggle ---------------------*/
/*------------------------------------ footer part ------------------------------------*/

/*------------------------------------ responsivite part ------------------------------------*/
