* {
  margin: 0;
  padding: 0;
  outline: none;
  list-style: none;
  text-decoration: none;
  font-family: sans-serif;
  /* border: 1px solid red; */
}
body {
  color: #fff;
  background: #0f0f0f;
}
.mid-section {
  display: flex;
  width: 100%;
}
h3 {
  font-size: 12px;
  margin-left: 15px;
  margin-bottom: 10px;
}
.search {
  display: none;
}

/*------------------------------------ header part ------------------------------------*/

header {
  padding: 10px 10px;
  background: #0f0f0f;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header img {
  cursor: pointer;
  height: 20px;
}
/*-------------------- logo container elements --------------------*/

.logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
}
.logo-container p {
  color: #fff;
  font-size: 19px;
  font-family: sans-serif;
  cursor: pointer;
}
.logo {
  display: flex;
  align-items: center;
}
.logo span {
  position: relative;
  color: #fff;
  font-size: 9px;
  bottom: 10px;
}
/*-------------------- search bar elements --------------------*/

.search-bar {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 40%;
  margin: 0px 10px;
}
.search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #3d3d3d;
  border-radius: 20px;
  padding: 5px;
  width: 100%;
}
.search-container img:nth-last-child(1) {
  padding: 0px 10px;
}
.search-bar input {
  background: transparent;
  padding: 10px;
  border: none;
  color: #fff;
  width: 90%;
}
.search-bar input::placeholder {
  color: #fff;
}
.search-img {
  display: none;
}

/*-------------------- profil elements --------------------*/

.profil {
  height: 30px;
  border-radius: 50%;
}
.profil-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

/*------------------------------------ aside part ------------------------------------*/

aside.active {
  width: 250px;
}

/*-------------------- sidebar elements --------------------*/
.sidebar {
  transition: all 0.5s ease-in-out;
}
/*---------------- top elements ----------------*/

aside img {
  width: 20px;
}
aside {
  background: #0f0f0f;
  width: 200px;
  height: 87vh;
  transition: all 0.5s ease;
  overflow: scroll;
  overflow-x: hidden;
  float: left;
  font-size: 10px;
}
.top {
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.pair {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 5px 10px;
  width: 90%;
}
.accueil,
.pair:hover {
  background: #3d3d3d;
  border-radius: 5px;
  cursor: pointer;
}

/*---------------- for you elements ----------------*/

.for-you {
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.for-you .link h2 {
  font-size: 14px;
  width: 25px;
}
.for-you .link {
  display: flex;
  align-items: center;
}
.for-you h2 {
  padding: 10px 15px;
  height: 10px;
  font-size: 10px;
  display: flex;
  align-items: center;
}

/*---------------- abonnements elements ----------------*/

.abonnements {
  padding: 10px 10px;
}
.abonnements h2 {
  padding: 10px 0px;
  height: 20px;
  display: flex;
  align-items: center;
}
.abonnements .pair img {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  object-fit: cover;
}
.abonnements .link {
  height: 30px;
  padding: 0px 10px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.link img {
  height: 20px;
  width: 20px;
}
.link h2 {
  font-size: 10px;
}

/*---------------- infos elements ----------------*/

.infos {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/*--------------------- animation toggle ---------------------*/

.sidebar.active {
  width: 90px;
  overflow: hidden;
}
.sidebar.active .pair .delete,
.sidebar.active .infos,
.sidebar.active .link,
.sidebar.active .abonnements,
.sidebar.active .for-you .pair:nth-child(3),
.sidebar.active .for-you .pair:nth-child(4),
.sidebar.active .for-you .pair:nth-child(5),
.sidebar.active .for-you .pair:nth-child(6),
.sidebar.active .for-you .pair:nth-child(7),
.sidebar.active hr {
  display: none;
}
.sidebar.active .pair {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 7px;
}
.sidebar.active .pair p {
  margin: 0;
}

/*------------------------------------ main part ------------------------------------*/

main {
  background: #0f0f0f;
  width: calc(100% - 200px);
  margin-left: 200px;
}
.sidebar.active .contenue {
  width: 10px;
}
.contenue {
  height: 81vh;
  padding: 0px 10px;
  margin-top: 10px;
  overflow-y: scroll;
  display: grid;
  grid-template-columns: repeat(auto-fill, 230px);
  justify-content: center;
  gap: 30px;
}
.navbar ul {
  overflow-x: auto;
  display: flex;
  gap: 10px;
  padding: 10px;
}
.contenue::-webkit-scrollbar,
.navbar ul::-webkit-scrollbar,
.sidebar::-webkit-scrollbar {
  display: none; /* Cache la scrollbar dans les navigateurs Webkit */
}
.navbar ul li:nth-child(1) a {
  background: #e8e8e8;
  color: #0f0f0f;
}
.navbar ul a {
  font-size: 10px;
  padding: 5px;
  background: #212121;
  border-radius: 5px;
  color: #e8e8e8;
  transition: all 0.3s ease;
}
.navbar ul a:hover {
  background: #3d3d3d;
}

/*--------------------- contenue section ---------------------*/

.vid-card {
  width: 250px;
  cursor: pointer;
  object-fit: cover;
}
.vid-card > img {
  width: 100%;
  height: 150px;
  border-radius: 10px;
  object-fit: cover;
}
.details {
  display: flex;
  justify-content: space-between;
  gap: 2px;
  padding-top: 5px;
}
.contenue-text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.contenue-text p:nth-child(2),
.contenue-text p:nth-child(3) {
  color: #aaaaaa;
  font-size: 12px;
}
.details > img {
  width: 20px;
  height: 20px;
}
.details-right-side {
  display: flex;
  gap: 10px;
}
.profil-user {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  object-fit: cover;
}

/*--------------------- fin animation toggle ---------------------*/
/*------------------------------------ footer part ------------------------------------*/

footer {
  display: none;
}
/*------------------------------------ responsivite part ------------------------------------*/
@media screen and (max-width: 600px) {
  header {
    padding: 20px 10px;
  }
  .profil-container img:nth-child(1),
  .profil-container img:nth-child(3) {
    display: none;
  }
  .search {
    display: inline;
  }
  #btn {
    display: none;
  }
  .search-bar {
    display: none;
  }
  main {
    width: 100%;
    margin: 0;
  }
  .navbar {
    padding: 10px 0px;
  }
  aside {
    display: none;
  }
  .contenue {
    height: auto;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 90px;
  }
  .details {
    font-size: 16px;
  }
  .vid-card {
    width: 370px;
  }
  .vid-card > img {
    height: 200px;
  }
  footer img {
    cursor: pointer;
  }
  footer {
    border-top: 1px solid #e8e8e8;
    background: #000;
    width: 95%;
    position: fixed;
    bottom: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 10px;
    padding: 10px 10px;
  }
  footer > div:nth-child(4) {
    position: relative;
  }
  footer > div:nth-child(4) span::after {
    content: "";
    width: 5px;
    height: 5px;
    background: red;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 0px;
  }
  footer > div {
    width: 36px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
}
